.preloader {
  width: 80px;
  height: 80px;
  border: 2px solid #eae4ea;
  box-shadow: 0 -2px 2px rgba(0,0,0,.2);
  border-bottom: 2px solid #6ddfca;
  border-radius: 50%;
  animation: rotate 3s linear infinite;
}

.preloader:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  border: 2px solid #eae4ea;
  box-shadow: 0 -2px 2px rgba(0,0,0,.2);
  border-bottom: 2px solid #d355be;
  border-radius: 50%;
  animation: rotate 2s linear infinite;
}

.preloader:after {
  content: '';
  position: absolute;
  top: 22px;
  left: 22px;
  bottom: 22px;
  right: 22px;
  border: 2px solid #eae4ea;
  box-shadow: 0 -2px 2px rgba(0,0,0,.2);
  border-bottom: 2px solid #8c23ec;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from
  {
    transform: rotate(0deg);
  }
  to
  {
    transform: rotate(360deg);
  } 
}